service cloud.firestore {
    match /databases/{database}/documents {

        function relatedToEventResource() {
            //Use this method if the resource is an event (to save on get operations)
            return (
                (request.auth.token.email in resource.data.related)
                ||
                (request.auth.uid == resource.data.owner)
            ); 
        }
        
        function relatedToEventWithID(eventID) {
            return (
                (request.auth.token.email in get(/databases/$(database)/documents/events/$(eventID)).data.related)
                ||
                (request.auth.uid == get(/databases/$(database)/documents/events/$(eventID)).data.owner)
            ); 
        }

        match /events/{eventID} {
            //Anybody can create an event.
            allow create: if true;
            //Related people can create an event.
            allow get,list: if relatedToEventResource();
            //Owners can edit or detele the event.
            allow update,delete: if (request.auth.uid == resource.data.owner);
        }

        match /events/{eventId}/answers/{answerID} {
            //Each user can only edit their own answers.
            allow get,list,create,update: if (request.auth.uid == answerID);
            allow delete: if false;
        }

        match /results/{resultID} {
            //The results Id and event Id should be the same.
            allow get,list: if relatedToEventWithID(resultID);
            allow create,update, delete: if false;
        }
    }
}